.mainFeedContainer {
    background-color: #272727;
    display: flex;
    width: 100;
    height: 100vh;
}

.mainFeedInner {
    display: flex;
    margin: auto;
    align-content: center;
    opacity: 100%;
    background-color: #272727;
    width: 75%;
    height: 100vh;

}