* {
    box-sizing: border-box;
    /* outline: red solid .5px; */
}

.navContainer {
    border-style: solid;
    border-color: #494949;
    border-width: 1px;
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 4;
}

.navBarInner {
    height: 50px;
    background-color: #161616;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.navBarItems {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
    color:aliceblue;
    margin-left: 20px;
    margin-right: 50px;
    font-size: 30px;
    font-weight: bold;
    flex-basis: 400px;
    height: 50px;
}

.anchorPointRight {
    
    display: flex;
    color:darkred;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
    
}

.anchorPointRight > a {
    padding-right: 60px;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s;
}

 /* {
    padding-right: 60px;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s;
} */

a:hover {
    color: #14a76c;
}